/* Global styles */

body {
  width: 1423px;

}

/*Navbar styles*/

.logo {
  font-size: 26px;
  letter-spacing: 1px;
  line-height: 41px;
  color: #fed136;
  font-family: "Wisdom";
  margin-right: 100px;
}

.container-fluid {
  flex-wrap: nowrap;
  margin-left: 100px;
}